@import "normalize";
@import "compass";
@import "susy";
@import "breakpoint";

// Configuring Susy Defaults
$susy: (
  global-box-sizing: border-box,
  use-custom: (rem: true),
  columns: 12
  // gutters: 1/4,
  // math: fluid,
  // output: float,
  // gutter-position: inside,
);

@include border-box-sizing;

@import "variables";
@import "mixins";
@import "base";
@import "layout";
@import "modules";